<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head -->
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/detail.css">
    <script src="https://kit.fontawesome.com/a25985a1fb.js" crossorigin="anonymous"></script>
    <title>Name NFT</title>
</head>

<body>
  <main>
    <%- include('./partials/header') %>
      <div class="small-container single-product">
        <div class="row">
          <div class="col-2">
            <img src="/images/<%= product.image %>" alt="" width="100%">
          </div>
          <div class="col-2">
            <h1>
              <%= product.name %>
            </h1>
            <h4><svg class="Price--eth-icon"  xmlns="http://www.w3.org/2000/svg" width="33" height="53" viewBox="0 0 33 53" fill="none">
              <path d="M16.3576 0.666687L16.0095 1.85009V36.1896L16.3576 36.5371L32.2976 27.115L16.3576 0.666687Z" fill="#343434"/>
              <path d="M16.3578 0.666687L0.417816 27.115L16.3578 36.5372V19.8699V0.666687Z" fill="#8C8C8C"/>
              <path d="M16.3575 39.5552L16.1613 39.7944V52.0268L16.3575 52.6L32.307 30.1378L16.3575 39.5552Z" fill="#3C3C3B"/>
              <path d="M16.3578 52.5998V39.5551L0.417816 30.1377L16.3578 52.5998Z" fill="#8C8C8C"/>
              <path d="M16.3575 36.537L32.2973 27.1151L16.3575 19.8699V36.537Z" fill="#141414"/>
              <path d="M0.417816 27.1151L16.3576 36.537V19.8699L0.417816 27.1151Z" fill="#393939"/>
              </svg>
              <%= product.price %>
            </h4>
            <a href="" class="btn">Add to cart</a>
            <h3>
              <%= product.description %>
            </h3>
          </div>
        </div>
      </div>

      <div class="small-container">
        <h2>Tambien podria interesarte</h2>
        <div class="row">
          <% random.forEach(function(product){ %>
            <div class="col-4">
              <a href="/product/<%= product.id %>">
                <img src="/images/<%= product.image %>">
              </a>
              <h4>
                <%= product.name %>
              </h4>
            </div>
          <% }) %>
        </div>
      </div>
      <%- include('./partials/footer') %>
  </main>
  
  <script src="/js/detail.js"></script>   

</body>

</html>