<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head -->
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/detail.css">
    <script src="https://kit.fontawesome.com/a25985a1fb.js" crossorigin="anonymous"></script>
    <title>Name NFT</title>
</head>

<body>
  <main>
    <%- include('./partials/header') %>
      <div class="small-container single-product">
        <div class="row">
          <div class="col-2">
            <img src="/images/<%= product.image %>" alt="" width="100%">
          </div>
          <div class="col-2">
            <h1>
              <%= product.name %>
            </h1>
            <h4><img alt="ETH" class="Price--eth-icon"
                src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg">
              <%= product.price %>
            </h4>
            <a href="" class="btn">Add to cart</a>
            <h3>
              <%= product.description %>
            </h3>
            <br>
            <h3>Creador</h3>
          </div>
        </div>
      </div>

      <div class="small-container">
        <h2>Tambien podria interesarte</h2>
        <div class="row">
          <div class="col-4">

            <a href="/product/<%= product.id %>">
              <img src="/images/<%= product.image %>">
            </a>
            <h4>
              <%= product.name %>
            </h4>
          </div>
          <div class="col-4">

            <a href="/product/<%= product.id %>">
              <img src="/images/<%= product.image %>">
            </a>
            <h4>
              <%= product.name %>
            </h4>
          </div>
          <div class="col-4">

            <a href="/product/<%= product.id %>">
              <img src="/images/<%= product.image %>">
            </a>
            <h4>
              <%= product.name %>
            </h4>

          </div>
          <div class="col-4">

            <a href="/product/<%= product.id %>">
              <img src="/images/<%= product.image %>">
            </a>
            <h4>
              <%= product.name %>
            </h4>
          </div>
        </div>
      </div>
      <%- include('./partials/footer') %>
  </main>
</body>

</html>