<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head -->
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/detail.css">
    <script src="https://kit.fontawesome.com/a25985a1fb.js" crossorigin="anonymous"></script>
    <title>Name NFT</title>
</head>

<body>
  <main>
    <%- include('./partials/header') %>
      <div class="small-container single-product">
        <div class="row">
          <div class="col-2">
            <img src="/images/<%= product.image %>" alt="" width="100%">
          </div>
          <div class="col-2">
            <h1>
              <%= product.name %>
            </h1>
            <h4><img alt="ETH" class="Price--eth-icon"
                src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg">
              <%= product.price %>
            </h4>
          <div class="wrapper">
            <a href="#modal" class="btn">Add to cart</a>
          </div>  
            <h3>
              <%= product.description %>
            </h3>
          </div>
        </div>
      </div>

      <div class="small-container">
        <h2>Tambien podria interesarte</h2>
        <div class="row">
          <% random.forEach(function(product){ %>
            <div class="col-4">
              <a href="/product/<%= product.id %>">
                <img src="/images/<%= product.image %>">
              </a>
              <h4>
                <%= product.name %>
              </h4>
            </div>
          <% }) %>
        </div>
      </div>
      <%- include('./partials/footer') %>
  </main>

  <section class="modal" >
    <div class="modal_container">
      <img src="/images/modal.svg" alt="Carrito" class="modal_image">
        <h2 class="modal_title">¡Felicidades!</h2>
          <p class="modal_text">Tu producto fue agregado con éxito</p>
            <a href="/product/cart"><button class="modal_carrito">Ir al carrito</button></a>
            <a href="/product"><button class="modal_seguir">Sumar + NFT</button></a>
    </div>
  </section>
  
  <script src="/js/detail.js"></script>   

</body>

</html>