<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head -->
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/list.css">
        <title>productos</title>
</head>

<body>
    <header>
        <!-- header -->
        <%- include('./partials/header') %>
    </header>

    <main>
        <section class="last-visit">
            <h3>Genshin Collection</h3>
            
                <div class="products"> <!-- main section div.products -->
                    <% coleccionJo.forEach(function(product){ let finalPrice=(product.precio * ((100 - product.discount) /
                        100)).toFixed(0) %>
                    <article>
                        <a href="/product/detail/<%= product.id %>">
                            <img src="/images/<%= product.imagen %>" class="product_img">
                            <div class="main-article">
                                <p class="price"><img alt="ETH" class="Price--eth-icon"
                                src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg"> <%= product.precio %>
                                </p>
                                <h4 class="description">
                                    <%= product.descripcion %>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% }) %>
                </div>
               
        </section>
        <section class="offers">
            <h3>Van Gogh Collection</h3>
            <div class="products">
                <article>
                    <img src="/images/coleccionJ/VanGogh1.jpg" alt="VanGogh1" class="product_img">
                    <div class="main-article">
                        <p class="price">ETH 0,020</p>
                        <p class="discount"></p>
                        <h4 class="description">Van Gogh Azzurro medio</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/coleccionJ/VanGogh2.jpg" alt="VanGogh2" class="product_img">
                    <div class="main-article">
                        <p class="price">ETH 0,001</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Van Gogh inspiration</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/coleccionJ/VanGogh3.jpg" alt="VanGogh3" class="product_img">
                    <div class="main-article">
                        <p class="price">ETH 0,010</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Van Goghh Purple tibio</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/coleccionJ/VanGogh4.jpg" alt="VanGogh4" class="product_img">
                    <div class="main-article">
                        <p class="price">ETH 0,003</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Van Gogh incredible </h4>
                    </div>
                </article>
            </div>
        </section>


        <section class="last-visit">
           <h3>Lucas Collection</h3>
            <div class="products"> <!-- main section div.products -->
                <% coleccionJo.forEach(function(product){ let finalPrice=(product.precio * ((100 - product.discount) /
                    100)).toFixed(0) %>
                <article>
                    <a href="/product/detail/<%= product.id %>">
                        <img src="/images/<%= product.imagen %>" class="product_img">
                        <div class="main-article">
                            <p class="price"><img alt="ETH" class="Price--eth-icon"
                            src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg"> <%= product.precio %>
                            </p>
                            <h4 class="description">
                                <%= product.descripcion %>
                            </h4>
                        </div>
                    </a>
                </article>
                <% }) %>
            </div>
        </section>

        <section class="last-visit">
            <h3>Nico Collection</h3>
             <div class="products"> <!-- main section div.products -->
                 <% coleccionJo.forEach(function(product){ let finalPrice=(product.precio * ((100 - product.discount) /
                     100)).toFixed(0) %>
                 <article>
                     <a href="/product/detail/<%= product.id %>">
                         <img src="/images/<%= product.imagen %>" class="product_img">
                         <div class="main-article">
                             <p class="price"><img alt="ETH" class="Price--eth-icon"
                             src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg"> <%= product.precio %>
                             </p>
                             <h4 class="description">
                                 <%= product.descripcion %>
                             </h4>
                         </div>
                     </a>
                 </article>
                 <% }) %>
             </div>
         </section>

    </main>

    <footer>
        <!-- footer -->
        <%- include('./partials/footer') %>
    </footer>
</body>