<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head -->
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/list.css">
        <title>productos</title>
</head>

<body>
    <header>
        <!-- header -->
        <%- include('./partials/header') %>
    </header>

    <main>
        <% console.log(coleccionJo[0].collection.name) %>
        <section class="last-visit">
            <h3>Genshin</h3>           
                <div class="products"> <!-- main section div.products -->
                    <% for(let i = 0; i < coleccionJo.length; i++) { %>
                    <article>                         
                        <a href="/product/<%= coleccionJo[i].id %>" style="text-decoration: none;">
                            <img src="/images/<%= coleccionJo[i].image %>" class="product_img">
                            <div class="main-article">
                                <p class="price"><img alt="ETH" class="Price--eth-icon"
                                    src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg"> <%= coleccionJo[i].price %>
                                </p>
                                <h4 class="description">
                                    <%= coleccionJo[i].description %>                               
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% } %>
                </div>
               
        </section>
        
        <section class="last-visit">
            <h3>Van Gogh</h3>
            
                <div class="products"> 
                    <% for(let i = 0; i < coleccionJ.length; i++) { %>
                    <article>
                        <a href="/product/<%= coleccionJ[i].id %>" style="text-decoration: none;">
                            <img src="/images/<%= coleccionJ[i].image %>" class="product_img">
                            <div class="main-article">
                                <p class="price"><img alt="ETH" class="Price--eth-icon"
                                    src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg"> <%= coleccionJ[i].price %>
                                </p>
                                <h4 class="description">
                                    <%= coleccionJ[i].description %>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% } %>
                </div>
               
        </section>


        <section class="last-visit">
           <h3>Punks</h3>
            <div class="products"> 
                <% for(let i = 0; i < coleccionJo.length; i++) { %>
                    <article>
                        <a href="/product/<%= coleccionJo[i].id %>" style="text-decoration: none;">
                            <img src="/images/<%= coleccionJo[i].image %>" class="product_img">
                            <div class="main-article">
                                <p class="price"><img alt="ETH" class="Price--eth-icon"
                                    src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg"> <%= coleccionJo[i].price %>
                                </p>
                                <h4 class="description">
                                    <%= coleccionJo[i].description %>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% } %>
            </div>
        </section>

        <section class="last-visit">
            <h3>Magic</h3>
             <div class="products">
                  <% for(let i = 0; i < coleccionJo.length; i++) { %>
                    <article>
                        <a href="/product/<%= coleccionJo[i].id %>" style="text-decoration: none;">
                            <img src="/images/<%= coleccionJo[i].image %>" class="product_img">
                            <div class="main-article">
                                <p class="price"><img alt="ETH" class="Price--eth-icon"
                                    src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg"> <%= coleccionJo[i].price %>
                                </p>
                                <h4 class="description">
                                    <%= coleccionJo[i].description %>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% } %>
             </div>
         </section>
        
    </main>

    <footer>
        <!-- footer -->
        <%- include('./partials/footer') %>
    </footer>
</body>