<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head -->
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/list.css">
        <title>productos</title>
</head>

<body>
    <header>
        <!-- header -->
        <%- include('./partials/header') %>
    </header>

    <main>       
        <section class="last-visit">
            <h3>Genshin</h3>           
                <div class="products"> <!-- main section div.products -->
                    <% for(let i = 0; i < products.length; i++) { %>
                        <%  if(products[i].collection_id == 1) {  %> 
                                        
                    <article>                         
                        <a href="/product/<%= products[i].id %>" style="text-decoration: none;">
                            <img src="/images/<%= products[i].image %>" class="product_img">
                            <div class="main-article">
                                <p class="price"><img alt="ETH" class="Price--eth-icon"
                                    src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg"> <%= products[i].price %>
                                </p>
                                <h4 class="description">
                                    <%= products[i].name %>                               
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% } %>
                    <% } %>
                </div>
               
        </section>
        
        
        
    </main>

    <footer>
        <!-- footer -->
        <%- include('./partials/footer') %>
    </footer>
</body>