<!DOCTYPE html>
<html>
<head>
    <!-- head --> <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<body>
    <!-- header --> <%- include('./partials/header') %> 
    <div class="container">
        <div class="card">
            <div class="card-inner">
                <div class="front-face">
                    <img src="/images/users/<%= userLocals.imagen %>">  
                </div>
                <div class="back-face">  <!--esto lo estoy trayendo de los middlewares, no del detail -->
                    <h2><%= userLocals.nombre %></h2>                          
                    <p><%= userLocals.email %></p>
                    <p><%= userLocals.categoria %></p>
                    <div class="social-media">
                        <a href="https://www.facebook.com/EasyTutorialsVideo">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/">
                            <i class="fab fa-instagram"></i>
                        </a>                  
                    </div>
                    <a href="/product" class="btn">Collections</a>
                </div>
            </div>
        </div>
    </div>   
    <!-- footer --> <%- include('./partials/footer') %>      
</body>
</html>