<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <% if(locals.userLocals){ %>       
       <ul>
            <li>Hola <%= userLocals.nombre %> <%= userLocals.apellido %></a></li></li>
            <li>Tu email es <%= userLocals.email %></li>
            <li>Sos: <%= userLocals.categoria %></li>
            <li>Y tu foto de perfil es: <img src="/images/users/<%= userLocals.imagen %>" class="product_img"></li>
        </ul>           
        <% } %> 
    
</head>
<body>
    
</body>
</html>