<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> <%- include('./partials/head') %>  
    <title>register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    
    <!-- header --> <%- include('./partials/header') %> 
   
   <main>
    <form action="/users" method="POST" enctype="multipart/form-data" class="register-form">
        <div class="form-control">
            <label>Nombre de usuario</label>
            <input type="text" name="nombre" class="control">
            <% if(locals.errors && locals.errors.nombre){ %>
                <span> <%= errors.nombre.msg  %> </span>
              <%} %> 
        </div>
        <div class="form-control">
            <label>Apellido de usuario</label>
            <input type="text" name="apellido" class="control">
            <% if(locals.errors && locals.errors.apellido){ %>
                <span> <%= errors.apellido.msg  %> </span>
              <%} %> 
        </div>
        <div class="form-control">
            <label>Contraseña</label>
            <input type="password" name="contrasena" class="control">
            <% if(locals.errors && locals.errors.contrasena){ %>
                <span> <%= errors.contrasena.msg  %> </span>
              <% } %> 
        </div>       
        <div class="form-control">
            <label>e-mail</label>
            <input type="email" name="email" class="control" placeholder="example01@gmail.com">
            <% if(locals.errors && locals.errors.email){ %>
                <span> <%= errors.email.msg  %> </span>
              <% } %> 
        </div>
        <div class="form-control">
                <label>Que quieres hacer?</label>
                <select id="categoria" name="categoria" class="control">
                    <option value="Usuario">Comprar</option>
                    <option value="Artista">Vender</option>                                      
                </select>
        </div>            
        <div class="form-control">
            <label>Imagen de perfil</label>
            <input type="file" name="imagen" class="control">
        </div>
        <button type="reset" class="button">Borrar</button>
        <button type="submit" class="button">Guardar</button>
    </form>
   </main>
    <!-- footer --> <%- include('./partials/footer') %> 
</body>
</html>