<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> <%- include('./partials/head') %>  
    <title>register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    
    <!-- header --> <%- include('./partials/header') %> 
    <div id="errores">
        <ul></ul>
       </div>   
   <main>       
    <form action="/users" method="POST" enctype="multipart/form-data" class="register-form">
        <div class="form-control">
            <label>Nombre de usuario</label>
            <input type="text" id="name" name="name" class="control">     
            <% if(locals.errors && locals.errors.name){ %>
                <span style="color: red;"> <%= errors.name.msg  %> </span>
            <%} %>        
        </div>
        <div class="form-control">
            <label>Apellido de usuario</label>
            <input type="text" id="last_name" name="last_name" class="control">   
            <% if(locals.errors && locals.errors.last_name) { %>
                <span style="color: red;"> <%= errors.last_name.msg  %> </span>
            <%} %>          
        </div>
        <div class="form-control">
            <label>Contraseña</label>
            <input type="password" id="password" name="password" class="control">
            <% if(locals.errors && locals.errors.password){ %>
                <span style="color: red;"> <%= errors.password.msg  %> </span>
            <% } %>                         
        </div>       
        <div class="form-control">
            <label>e-mail</label>
            <input type="email" id="email" name="email" class="control" placeholder="example01@gmail.com">
            <% if(locals.errors && locals.errors.email){ %>
                <span style="color: red;"> <%= errors.email.msg  %> </span>
            <% } %>              
        </div>
          <div class="form-control">
                <label>Que quieres hacer?</label>
                <select id="categoria" name="category_id" class="control">
                    <option value="2">Comprar</option>
                    <option value="1">Vender</option>                                      
                </select>
        </div>   
                 
        <div class="form-control">
            <label>Imagen de perfil</label>
            <input type="file" id="image" name="image" class="control">
            <% if(locals.errors && locals.errors.image){ %>
                <span style="color: red;"> <%= errors.image.msg  %> </span>
            <%} %> 
        </div>
        <button type="reset" class="button">Borrar</button>
        <button type="submit" class="button">Guardar</button>
    </form>
   </main>
    <!-- footer --> <%- include('./partials/footer') %> 
    <script src="/js/register.js"></script>  
</body>
</html>