<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/list.css">
        <title>Products</title>
</head>

<body>
    <header>
        <!-- header -->
        <%- include('./partials/header') %>
    </header>
    <main>
        <section class="last-visit">
            <div class="products">
                <% for(let i=0; i < resultados.length; i++) { %>
                    <article>
                        <a href="/product/<%= resultados[i].id %>" style="text-decoration: none;">
                            <img src="/images/<%= resultados[i].image %>" class="product_img">
                            <div class="main-article">
                                <p class="price"><img alt="ETH" class="Price--eth-icon"
                                        src="https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg">
                                    <%= resultados[i].price %>
                                </p>
                                <h4 class="description">
                                    <%= resultados[i].name %>
                                </h4>
                            </div>
                        </a>
                    </article>
                    <% } %>
            </div>
        </section>
    </main>

    <footer>
        <!-- footer -->
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>