<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> <%- include('./partials/head') %>  
    <link rel="stylesheet" href="/css/edit.css">
    <title>Edit</title>
</head>
<body>
    
    <!-- header --> <%- include('./partials/header') %> 
    <div id="errores">
        <ul></ul>
    </div>
   <div class="container">
    <form action="/users/<%= userToEdit.id %>/userEdit?_method=PATCH" method="POST" enctype="multipart/form-data" class="register-form">
        <div class="productDetails">
            <div class="inputBox">
                <span class="details">Nombre </span>
                <input type="text" id="name" name="name" class="control" value="<%= userToEdit.name %>">
            </div>
            <div class="inputBox">
                <span class="details">Apellido </span>
                <input type="text" id="last_name" name="last_name" class="control" value="<%= userToEdit.last_name %>">
            </div>
            <div class="inputBox">
                <span class="details">Contraseña </span>
                <input type="password" id="password" name="password" class="control">
            </div>
            <div class="inputBox">
                <span class="details">Email </span>
                <input type="email" id="email" name="email" class="control" value="<%= userToEdit.email %>">
            </div>
            <div class="inputBox">
                <span class="details">Selecciona una imagen:</span>
                <input type="file" id="image" name="image" value="<%= userToEdit.image %>">
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Guardar">
        </div>
    </form>
   </div>
 
    <!-- footer --> <%- include('./partials/footer') %> 
    <script src="/js/userEdit.js"></script>   
</body>
</html>