<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> <%- include('./partials/head') %>  
    <link rel="stylesheet" href="/css/edit.css">
    <title>Edit</title>
</head>
<body>
    
    <!-- header --> <%- include('./partials/header') %> 
   
   <main>
    <form action="/users/<%= userToEdit.id %>/userEdit?_method=PATCH" method="POST" enctype="multipart/form-data" class="register-form">
        <div class="form-control">
            <label for="name">Nombre </label>
            <input type="text" id="name" name="name" class="control" value="<%= userToEdit.name %>">
        </div>

        <div class="form-control">
            <label for="name">Apellido </label>
            <input type="text" id="last_name" name="last_name" class="control" value="<%= userToEdit.last_name %>">
        </div>

        <div class="form-control">
            <label for="name">Contraseña </label>
            <input type="password" id="password" name="password" class="control">
        </div>

        <div class="form-control">
            <label for="name">Email </label>
            <input type="email" id="email" name="email" class="control" value="<%= userToEdit.email %>">
        </div>

        <div class="form-control">
            <label for="imagen">Selecciona una imagen:</label>
            <input type="file" id="imagen" name="image" value="<%= userToEdit.image %>">            
        </div>             
      
       
        <button type="submit" class="button">Guardar</button> 
             
        
    </form>
    
   </main>
    <!-- footer --> <%- include('./partials/footer') %> 
</body>
</html>